*{box-sizing: border-box;}

body{
  background-color: hsl(216, 12%, 8%);
  font-family:  'Overpass', sans-serif;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 1fr 3fr 1fr;
  justify-items: center;
  align-items: center;
}
main{
  display: grid;

  justify-items: center;
  align-items: center; 
  grid-column: 2/3;
  grid-row: 2/3;
}
[class^="box"]{
  position: relative;
  width: 21.87em;
  height: 21.87em;
  padding: 1.87em;
  margin: 0.31em;
  border-radius: 1.25em;
  background-color: hsl(213, 19%, 18%);
  color: hsl(0, 0%, 100%);
   display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 2/3;
  grid-row: 1/2;
}
.box-second{
  align-items: center;
  z-index: -1;
}
 .box-second.submit-click{
  z-index: 2;
}
.star-img{
  width: 2.5em;
  padding: 0.75em 0;
  margin-bottom: 1.56em;
  border-radius: 50%;
  background-color: hsl(214, 19%, 23%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.thankyou-img{
  width: 8.12em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.93em;
}
.thankyou-img img{
  width: 100%;
}

h1{
  font-size: 1.37em;
  font-weight: bold;
  margin: 0.62em 0 ;
}
p{
  font-size: 0.93em;
  font-weight: 400;
  color: hsl(217, 12%, 63%);
  margin: 0.31em 0;
}
.box-second p{
  text-align: center;
}
.rating{
  background-color: hsl(214, 19%, 23%);
  padding: 0.31em;
  border-radius: 0.93em;
  width: 10.62em;
  margin: 0.93em 0;
}
.rating p{
   margin: 0;
   text-align: center;
   color: hsl(25, 97%, 53%);
   font-size: 0.81em;
}
.numbers{
  display: flex;
  justify-content: space-around;
  margin: 1.25em 0;
}
.numbers button{
  background-color: hsl(214, 19%, 23%);
  color: hsl(217, 12%, 63%);
  padding: 0.90em 0;
  border-radius: 50%;
  border: none;
  width: 3em;
  cursor: pointer;
}
.numbers button:hover{
background-color: rgb(251, 116, 19);
color: hsl(0, 0%, 100%);
}
.numbers .number-click{
  background-color: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
}
.submit{
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 0.75em 6.25em;
  border-radius: 1.25em;
  font-weight: bold;
  letter-spacing: 0.125em;
  cursor: pointer;
}
.submit:hover{
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

footer{
  grid-column: 2/3;
  grid-row: 3/4;
  align-self: end;
  color: hsl(0, 0%, 100%);
  font-size: 0.81em;
}
footer a{
  color: hsl(0, 0%, 100%);
} 
