*{box-sizing: border-box;}

body{
  background-color: hsl(216, 12%, 8%);
  font-family:  'Overpass', sans-serif;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 1fr 3fr 1fr;
  justify-items: center;
  align-items: center;
}
[class^="box"]{
  position: relative;
  width: 350px;
  height: 350px;
  padding:30px;
  margin: 5px;
  border-radius: 20px;
  background-color: hsl(213, 19%, 18%);
  color: hsl(0, 0%, 100%);
   display: flex;
  flex-direction: column;
  justify-content: center;
}
.box-first{
  grid-column: 2/3;
  grid-row: 2/3;
}
.box-second{
  grid-column: 2/3;
  grid-row: 2/3;
  align-items: center;
  z-index: -1;
}
 .box-second.submit-click{
  z-index: 2;
}
.star-img{
  width: 40px;
  padding: 12px 0;
  margin-bottom: 25px;
  border-radius: 50%;
  background-color: hsl(214, 19%, 23%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.thankyou-img{
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.thankyou-img img{
  width: 100%;
}

h1{
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0 ;
}
h3{
  font-size: 15px;
  font-weight: 400;
  color: hsl(217, 12%, 63%);
  margin: 5px 0;
}
.box-second h3{
  text-align: center;
}
.rating{
  background-color: hsl(214, 19%, 23%);
  padding: 5px;
  border-radius: 15px;
  width: 170px;
  margin: 15px 0;
}
.rating h3{
   margin: 0;
   text-align: center;
   color: hsl(25, 97%, 53%);
   font-size: 13px;
}
.numbers{
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.numbers button{
  background-color: hsl(214, 19%, 23%);
  color: hsl(217, 12%, 63%);
  padding: 12px 0;
  border-radius: 50%;
  border: none;
  width: 40px;
  cursor: pointer;
}
.numbers button:hover{
background-color: rgb(251, 116, 19);
color: hsl(0, 0%, 100%);
}
.numbers .number-click{
  background-color: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
}
.submit{
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 10px 100px;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}
.submit:hover{
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

.attribution{
  grid-column: 2/3;
  grid-row: 3/4;
  align-self: end;
  color: hsl(0, 0%, 100%);
  font-size: 13px;
}
.attribution a{
  color: hsl(0, 0%, 100%);
} 